
/* Styles for movie_details/index */

#program-list table {
    border-collapse: collapse;
    width: 99%;
    margin: auto;
}

#program-list table tr td {
    padding: 5px;
    vertical-align: top;
    border: 1px solid #59595E;
    font-size: 8pt;
    color:    #666;
}

#program-list .program-thumbnail {
    width:        120px;
    height:       140px;
}

#program-list .program-description {
    width:        60%;
    text-align :left;
}

#program-list .program-description dl {
    margin: 0;
    color:        #666;
    font-size:    12px;
}

#program-list .program-description dt {
    color:        #244;
    font-weight:  bold;
    font-size:    larger;
}

#program-list .program-description dd {
    margin: 0;
}

#program-list .program-actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
}

#program-list .program-line-even {
    background:   #99AADB;
}

#program-list .program-line-odd {
    background:   #B4C5C4;
}


