@charset "utf-8";
/* CSS Document */
body{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
background:#444 url(/assets/body_bg.png) repeat;
color:#eee;
}
a{text-decoration:none; color:#cd5656;}
#main{
width:70%;
margin:auto;

}
#top_bar{
float:left;
margin:15px 0px;
}
#logo{
background:url(/assets/logo.png) no-repeat;
width:48px; height:48px;float:left;
}

table {
    border-collapse : collapse;
    border : none;
    background-color : #424247;
}
table.main, table.mainouter {
    background : #39393d;
}
table.bottom {
    background : transparent;
}


td {
    font-size : 8pt;
    border : 1px solid #59595E;
    text-align :center;

}


a:link, a:visited {
    text-decoration : none;
    color : #f0f0f0;
    font-weight : bold;
    outline: 0px;
}
a:hover {
    color : #acbfd3;
    outline: 0px;
}

ul#menubar{
margin:10px 0px 0px 55px;
padding:0;
float:left;
list-style:none;

}
ul#menubar li{
float:left;
margin-right:20px;
}

ul#menubar a{
text-decoration:none;
color:#bbb;
font-size:13px;
background:#333;
padding:4px 8px;
border:1px solid #222;
display:block;

-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
 

ul#menubar a.selected{
background:#222;
}
 #content{
 margin:15px 0px;
 }
